<h1>
  {{ title }}
</h1>

<app-task-list></app-task-list>

<p>
  {{ user.name }} - {{ user.age }}
</p>

<!-- Pipes são responsáveis pela transformação do dados -->
<p>
  {{ user | json}}
</p>

<p>
  {{ uppserText | uppercase }}
</p>

<p>
  {{ lowerText | lowercase }}
</p>

<p>
  {{ percentvalue | percent}}
</p>

<p>
  {{ date | date : 'yyyy/MM/dd' }}
</p>

<p>
  {{ money | currency }}
</p>


<div *ngIf="isAdmin2">
  <span>Administrador 2</span>
</div>

<div [ngSwitch]="profile">
  <p *ngSwitchCase="1">you can read & write</p>
  <p *ngSwitchCase="2">you can read</p>
  <p *ngSwitchDefault>Go back, please!</p>
</div>
