<input type="text" [(ngModel)]="task">
<button type="button" (click)="add()">Add to list</button>

<ul>
  <li *ngFor="let task of tasks">
    {{ task }}
  </li>
</ul>
<br />

<input type="text" [(ngModel)]="item">
<button type="button" (click)="addicionar()" >Insert</button>

<ul>
  <li *ngFor="let item of itens" [innerHTML]="item">
  </li>
</ul>

<div [hidden]="isAdmin">
  <h1>Common user</h1>
</div>

<div [hidden]="!isAdmin">
  <h1>Administrator</h1>
</div>
